body {
    color: #fdfefc;
    background-color: #242022;
}
a {
    color: pink;
    text-decoration: none;
}
a:hover {
    color: hotpink;
    text-decoration: none;
}

pre {
    line-height: 120%
}

.container {
    width: 85vw; margin: 0 auto;
    overflow: hidden;
    font-family:monospace;
    line-height: 175%
}

#main {
    float: left;
    width: 100%;
    font-size: 130%;
}

#toc_author {
    font-size: 55%;
    line-height: 75%;
    color: #444444;
}
