:- module(about, [about/3]).

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%% Put your blog's information here %%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

about(title('Campaign Logs'),
      admin('Lucca Fraser'),
      abstract('Documenting an ongoing D&D Campaign, set in Eberron
      and its crystal sphere.')).
