* {
    box-sizing: border-box;
}

body {
    color: #fdfefc;
    background-color: #242022;
}
a {
    color: pink;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: hotpink;
    text-decoration: none;
}

a.topnav {
    color: papayawhip;
    font-weight: normal;
}

a.topnav:hover {
    color: lightpink;
    text-decoration: none;
}

pre {
    line-height: 100%
    font-size: 130%;
}

.container {
    width: 85vw;
    margin: 0 auto;
    overflow: hidden;
    color: #fdfefc;
}

h1 {
    font-family: Garamond, Georgia, serif;
    line-height: 120%
}

h2 {
    font-family: Garamond, Georgia, serif;
}

h3 {
    font-family: Garamond, Georgia, serif;
}

#main {
    float: none;
    width: 74%;
    margin-left: 12%;
    margin-right: 12%;
    font-size: 120%;
    font-family: Courier;
    line-height: 150%;
    display: block;
}

@media only screen and (max-width: 800px) {
    #main {
        font-size: 110%;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        color: #fdfefc;
    }
}


li.toc_title {
    font-weight: normal;
    bottom-margin: 0.2em;
    left-margin:0;
    left-padding:0;
    list-style: none;
}

.toc_abstract {
    font-size: 100%;
    color: #dddedc;

}

hr.toc_hr {
    border-color: #6d6e6c;
}

ul.toc {
    height: 90%;
    overflow-y: auto;
    padding:0;
}

div.toc {
    left-margin: auto;
    right-margin: auto;
    width: 90;
    display: block;
}

.toc_author {
    font-size: 90%;
    line-height: 140%;
    color: #8d8e8c;
}


.abstract {
    font-weight: bold;
    color: #8d8e8c
}

input {
    color: #fdfefc;
    background-color: #444042;
}

textarea {
    width: 80%;
    color: #fdfefc;
    font-family: Courier;
    background-color: #444042;
}

label {
    font-family: Courier;
    color: #fdfefc;
}

.toc_entry {
    margin-top: 2em;
    margin-bottom: 2em;
}

.toc_title {
    margin-bottom: 1em;
}

.toc_tag_line {
    font-size: 90%;
    color: #8d8e8c;
}

.toc_tag {
    color: papayawhip;    
    font-weight: normal;
}

.toc_tag:hover {
    color: lightpink;
}

img {
    width: 100%;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.wordcount {
    font-size: 100%;
    color: #8d8e8c;
}

blockquote {
    border-left: 8px solid #3d3e3c; 
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    color: #adaedc;
}
